body{
	font-family: Roboto, Arial, sans-serif;
}
figure{
	margin: 5px;
    padding: 5px;
	display:grid;
	grid-column-gap:5px;
	grid-template-columns: 210px 1fr;
}
figure img{
	display: inline-block;
    margin: 5px;
    vertical-align: text-top;
	width:210px;
}
figure figcaption{
	display: inline-block;
    width: 370px;
    margin: 5px;
    vertical-align: text-top;
	font-size: 12pt;
}
figure figcaption h3{
	margin: 0px;
	padding: 0px;
}
#figure-search-results{
	cursor:pointer;
}
main{
	display:grid;
	grid-template-columns:2fr 3fr 2fr;
	grid-template-areas:
	"header header header"
	"search content related"
	"footer footer footer";
}
header{
	grid-area:header;
}
footer{
	grid-area:footer;
}
#search-container{
	grid-area:search;
}
#content-container{
	display:grid;
	grid-template-rows:max-content;
	grid-template-areas:
	"player"
	"feed";
	grid-area:content;
	justify-items:center;
}
#player-container{
	grid-area:player;
}
#feed-container{
	grid-area:feed;
}
#related-container{
	grid-area:related;
}
